.component-section h2 {
	margin: 0 0 20px 0;
}
.component-section {
	margin-top: 20px;
	margin-bottom: 20px;
}
.component-section .pmd-card {
	margin: 0;
}
.component-section .component-box {
	margin-bottom: 20px;
}
.icon-custom div {
	min-height: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.shadow-demo {
	background-color: #fff;
	font-size: 15px;
	height: 100px;
	margin: 0 auto 30px;
	padding-top: 35px;
	text-align: center;
}
.range-slider-container .pmd-card-body {
	min-height: 40px;
}
iframe {
	width: 100%;
	border: none;
	min-height: 300px;
	vertical-align: middle;
	display: inline-block;
}
/*!
 * Propeller v1.3.1 (http://propeller.in/): card.css
 * Copyright 2016-2018 Digicorp, Inc
 * Licensed under MIT (http://propeller.in/LICENSE)
 */
.pmd-card {
	padding: 1px 0;
	margin-bottom: 30px;
	background-color: #fff;
	border-radius: 0.125rem;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.pmd-card .form-horizontal .form-group {
	margin-right: inherit;
	margin-left: inherit;
}
.pmd-card-body {
	padding-right: 1rem;
	padding-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: rgba(0, 0, 0, 0.87);
}
.pmd-card-title {
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0.125rem;
	border-top-right-radius: 0.125rem;
}
.pmd-card-title .dropdown .dropdown-toggle {
	color: inherit;
}
.pmd-card-title-text {
	margin-top: 0;
	margin-bottom: 0;
	color: inherit;
}
h2.pmd-card-title-text {
	margin-bottom: 2px;
	font-size: 1.5rem;
	font-weight: 400;
}
.pmd-card-subtitle-text {
	margin-bottom: 0;
	font-size: 0.875rem;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.54);
}
.pmd-card-footer {
	display: table;
	width: 100%;
	padding: 0.5rem 1rem;
	content: "";
}
.pmd-card-actions {
	padding: 0.5rem 0.25rem;
}
.pmd-card-actions .btn {
	margin-right: 0.25rem;
	margin-bottom: 0.5rem;
	margin-left: 0.25rem;
	min-width: inherit;
}
.pmd-card-actions .btn:first-child {
	margin-left: 0.75rem;
}
.pmd-card-actions .btn:last-child {
	margin-right: 0.75rem;
}
.pmd-card-actions .btn.pmd-btn-flat {
	margin-right: 0.25rem;
	margin-bottom: 0;
	margin-left: 0.25rem;
}
.pmd-card-actions .btn.pmd-btn-fab {
	padding: 0;
}
/* Card Media Action */
.pmd-card-media-inline .pmd-card-media {
	padding-right: 1rem;
	padding-left: 1rem;
	margin-top: 1rem;
}
.pmd-card-media-inline .pmd-card-media h2.pmd-card-title-text {
	margin-top: 0.25rem;
}
.pmd-card-footer-no-border {
	padding-top: 0;
	border-color: transparent;
}
.pmd-card-list {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #fff;
}
/* Card inverse*/
.pmd-card-inverse {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.84);
}
.pmd-card-inverse .pmd-card-body {
	color: rgba(255, 255, 255, 0.84);
}
.pmd-card-inverse .pmd-card-subtitle-text {
	color: rgba(255, 255, 255, 0.54);
}
/*# sourceMappingURL=card.css.map */
/*!
 * Propeller v1.3.1 (http://propeller.in): typography.css
 * Copyright 2016-2018 Digicorp, Inc.
 * Licensed under MIT (http://propeller.in/LICENSE)
 */
html {
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;
}
body {
	font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	line-height: 1.5;
	color: #333333;
	background-color: #f8f9fa;
}
a {
	color: #4285f4;
	text-decoration: none;
	outline: none;
}
a:focus, a:hover {
	text-decoration: underline;
	outline: none;
	color: #0d5bdd;
	outline-offset: -2px;
}
p {
	margin-bottom: 1rem;
}
.lead, p.lead {
	font-size: 1.25rem;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h1, .h1 {
	font-size: 1.5rem;
	font-weight: 400;
}
h2, .h2 {
	font-size: 1.25rem;
	font-weight: 500;
}
h3, .h3 {
	font-size: 1rem;
	font-weight: 400;
}
h4, .h4 {
	font-size: 0.8125rem;
	font-weight: 500;
}
h5, .h5 {
	font-size: 0.8125rem;
	font-weight: 400;
}
.pmd-display1 {
	font-size: 2.125rem;
	font-weight: 400;
	line-height: 1.1;
	color: rgba(0, 0, 0, 0.54);
}
.pmd-display2 {
	font-size: 2.8125rem;
	font-weight: 400;
	line-height: 1.1;
	color: rgba(0, 0, 0, 0.54);
}
.pmd-display3 {
	font-size: 3.5rem;
	font-weight: 400;
	line-height: 1.1;
	color: rgba(0, 0, 0, 0.54);
}
.pmd-display4 {
	font-size: 7rem;
	font-weight: 300;
	line-height: 1.1;
	color: rgba(0, 0, 0, 0.54);
}
.pmd-caption {
	font-size: 0.75rem;
	color: #868e96;
}
/*# sourceMappingURL=typography.css.map */
/*!
 * Propeller v1.3.1 (http://propeller.in): textfield.css
 * Copyright 2016-2018 Digicorp, Inc.
 * Licensed under MIT (http://propeller.in/LICENSE)
 */
.pmd-textfield-focused {
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	width: 100%;
	height: 2px;
	display: none;
	top: -1px;
	background-color: #4285f4;
	-ms-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	position: relative;
	z-index: 2;
}
.pmd-textfield.pmd-textfield-floating-label-active .pmd-textfield-focused {
	-ms-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.form-group.pmd-textfield {
	position:relative;
}
.pmd-textfield .form-control {
	height: 38px;
	outline: none;
}
.pmd-textfield label {
	font-weight: normal;
	line-height: 1.4;
	font-size: 0.875rem;
	color: rgba(0, 0, 0, 0.54);
	margin-bottom: 0;
}
.pmd-textfield-floating-label {
	position: relative;
}
.pmd-textfield-floating-label label {
	-ms-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	margin: 0;
	font-size: 13px;
	line-height: 38px;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	pointer-events: none;
	position: absolute;
	top:0;
	right:12px;
	z-index: 1;
}
.pmd-textfield-floating-label .form-control {
	position: relative;
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
	-ms-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	font-size: 11px;
	color: rgba(0, 0, 0, 0.45);
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label:before {
	content: "";
	position: absolute;
	left: -5px;
	top: 20px;
	background: #fff;
	z-index: -1;
	height: 2px;
	right: -5px;
}
.pmd-textfield.has-success .form-control {
	color: #259b24;
	border-color: #259b24;
}
.pmd-textfield.has-success .form-control ~ .pmd-textfield-focused {
	background-color: #259b24;
}
.pmd-textfield.has-success .form-control ~ .has-error-text {
	color: #259b24;
	display: block;
}
.pmd-textfield.has-success .form-control:focus {
	box-shadow: none;
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed.has-success label {
	color: #259b24;
}
.has-success .control-label, .has-success .help-block {
	color: #259b24;
}
.pmd-textfield.has-warning .form-control {
	color: #ffc107;
	border-color: #ffc107;
}
.pmd-textfield.has-warning .form-control ~ .pmd-textfield-focused {
	background-color: #ffc107;
}
.pmd-textfield.has-warning .form-control ~ .has-error-text {
	color: #ffc107;
	display: block;
}
.pmd-textfield.has-warning .form-control:focus {
	box-shadow: none;
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed.has-warning label {
	color: #ffc107;
}
.has-warning .control-label, .has-warning .help-block {
	color: #ffc107;
}
.pmd-textfield.has-error .form-control {
	color: #ff5722;
	border-color: #ff5722;
}
.pmd-textfield.has-error .form-control ~ .pmd-textfield-focused {
	background-color: #ff5722;
}
.pmd-textfield.has-error .form-control ~ .has-error-text {
	color: #ff5722;
	display: block;
}
.pmd-textfield.has-error .form-control:focus {
	box-shadow: none;
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed.has-error label {
	color: #ff5722;
}
.has-error .control-label, .has-error .help-block {
	color: #ff5722;
}
 .pmd-textfield.has-error .form-control:invalid {
 color: form-state-colors("error");
}
 .pmd-textfield.has-error .form-control:invalid ~ .pmd-textfield-focused {
 background-color: form-state-colors("error");
}
 .pmd-textfield.has-error .form-control:invalid ~ .has-error-text {
 color: form-state-colors("error");
 display: block;
}
.help-block {
	font-size: 14px;
	margin-top: 0;
}
.has-error-text {
	display: none;
}
.pmd-textfield .input-group-addon {
	border: none;
	background-color: transparent;
	padding: 0;
}
.pmd-textfield .input-group-addon:first-child {
	padding-right: 16px;
}
.pmd-textfield .input-group-addon:last-child {
	padding-left: 16px;
}
.pmd-textfield .input-group .form-control {
	float: inherit;
	z-index: inherit;
}
.pmd-input-group-label {
	padding-left: 40px;
}


select.form-control {
	color:#555 !important;
}